@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: -0.5px;
  color: rgb(0, 0, 0);
}

.subtitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.5px;
  color: rgb(27, 27, 27);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(27, 27, 27);
}

.title-h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.5px;
  color: rgb(27, 27, 27);
}

.title-h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.5px;
  color: rgb(37, 37, 37);
}

.title-h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.5px;
  color: rgb(27, 27, 27);
}

.header {
  background-color: rgb(211, 242, 234);
  padding: 10px 0;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header li {
  list-style: none;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.social__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.social__block a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.submenu__item,
.submenu__item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(18, 18, 18);
}

.menu__item {
  position: relative;
  padding-right: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(18, 18, 18);
}
.menu__item:after {
  content: url('data:image/svg+xml,<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.70699 7.38912L13.364 1.73212L11.95 0.318116L6.99999 5.26812L2.04999 0.318115L0.635986 1.73212L6.29299 7.38912C6.48051 7.57659 6.73482 7.6819 6.99999 7.6819C7.26515 7.6819 7.51946 7.57659 7.70699 7.38912Z" fill="%231B1B29"/></svg>');
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 2.4px;
}

.menu__item .submenu {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.menu__item .submenu .submenu {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.submenu {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
}

.submenu__item {
  padding: 12px 45px 12px 16px;
}

.submenu__item .submenu {
  position: relative;
}

.menu__item.active > .submenu,
.submenu__item.active > .submenu {
  display: block;
  width: 100%;
}

.submenu__item.second {
  position: relative;
}
.submenu__item.second:after {
  content: url('data:image/svg+xml,<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.70699 7.38912L13.364 1.73212L11.95 0.318116L6.99999 5.26812L2.04999 0.318115L0.635986 1.73212L6.29299 7.38912C6.48051 7.57659 6.73482 7.6819 6.99999 7.6819C7.26515 7.6819 7.51946 7.57659 7.70699 7.38912Z" fill="%231B1B29"/></svg>');
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__item.active::after,
.submenu__item.active:after {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  -webkit-transform: 0.3s;
      -ms-transform: 0.3s;
          transform: 0.3s;
}

.submenu .submenu .submenu__item {
  position: relative;
}
.submenu .submenu .submenu__item:after {
  content: "";
  background-color: rgb(223, 223, 223);
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: -10%;
}

.header__search {
  border: none;
  border-radius: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgb(255, 255, 255);
  padding: 15px;
  cursor: pointer;
}

/* modal block */
/* Общий стиль модалки */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999;
}

/* Скрытие */
.hidden {
  display: none;
}

.lang__wrapper {
  background-color: rgb(255, 255, 255);
  padding: 10px 42px 10px 13px;
  border-radius: 41px;
  position: relative;
  cursor: pointer;
  height: 39.5px;
  width: 78px;
}
.lang__wrapper:after {
  content: url('data:image/svg+xml,<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.70699 7.38912L13.364 1.73212L11.95 0.318116L6.99999 5.26812L2.04999 0.318115L0.635986 1.73212L6.29299 7.38912C6.48051 7.57659 6.73482 7.6819 6.99999 7.6819C7.26515 7.6819 7.51946 7.57659 7.70699 7.38912Z" fill="%231B1B29"/></svg>');
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.langflags {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  padding: 10px 42px 10px 13px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.langflags .lang {
  display: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.langflags .lang a {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(0, 0, 0);
}
.langflags .lang.current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.lang__wrapper.active .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  border: none;
  padding: 13.5px 24px;
  background-color: rgb(165, 242, 222);
  color: rgb(18, 18, 18);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  font-weight: 600;
  border-radius: 300px;
  cursor: pointer;
}

.burger-btn {
  display: none;
}

.main {
  padding-top: 32px;
  padding-bottom: 32px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.link__home {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(27, 27, 27);
}

.separator {
  color: rgb(18, 18, 18);
}

.current__page {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(158, 158, 158);
}