@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter";
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: -0.5px;
  color: rgb(0, 0, 0);
}

.subtitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.5px;
  color: rgb(27, 27, 27);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(27, 27, 27);
}

.title-h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.5px;
  color: rgb(27, 27, 27);
}

.title-h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.5px;
  color: rgb(37, 37, 37);
}

.title-h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.5px;
  color: rgb(27, 27, 27);
}

.header {
  background-color: rgb(211, 242, 234);
  padding: 10px 0;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header li {
  list-style: none;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.social__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.social__block a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.submenu__item,
.submenu__item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(18, 18, 18);
}

.menu__item {
  position: relative;
  padding-right: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(18, 18, 18);
}
.menu__item:after {
  content: url('data:image/svg+xml,<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.70699 7.38912L13.364 1.73212L11.95 0.318116L6.99999 5.26812L2.04999 0.318115L0.635986 1.73212L6.29299 7.38912C6.48051 7.57659 6.73482 7.6819 6.99999 7.6819C7.26515 7.6819 7.51946 7.57659 7.70699 7.38912Z" fill="%231B1B29"/></svg>');
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 2.4px;
}

.menu__item .submenu {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.menu__item .submenu .submenu {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.submenu {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
}

.submenu__item {
  padding: 12px 45px 12px 16px;
}

.submenu__item .submenu {
  position: relative;
}

.menu__item.active > .submenu,
.submenu__item.active > .submenu {
  display: block;
  width: 100%;
}

.submenu__item.second {
  position: relative;
}
.submenu__item.second:after {
  content: url('data:image/svg+xml,<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.70699 7.38912L13.364 1.73212L11.95 0.318116L6.99999 5.26812L2.04999 0.318115L0.635986 1.73212L6.29299 7.38912C6.48051 7.57659 6.73482 7.6819 6.99999 7.6819C7.26515 7.6819 7.51946 7.57659 7.70699 7.38912Z" fill="%231B1B29"/></svg>');
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__item.active::after,
.submenu__item.active:after {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  -webkit-transform: 0.3s;
      -ms-transform: 0.3s;
          transform: 0.3s;
}

.submenu .submenu .submenu__item {
  position: relative;
}
.submenu .submenu .submenu__item:after {
  content: "";
  background-color: rgb(223, 223, 223);
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: -10%;
}

.header__search {
  border: none;
  border-radius: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgb(255, 255, 255);
  padding: 15px;
  cursor: pointer;
}

/* modal block */
/* Общий стиль модалки */
.modal,
.modal-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999;
}

/* Скрытие */
.hidden {
  display: none;
}

.lang__wrapper {
  background-color: rgb(255, 255, 255);
  padding: 10px 42px 10px 13px;
  border-radius: 41px;
  position: relative;
  cursor: pointer;
  height: 39.5px;
  width: 78px;
}
.lang__wrapper:after {
  content: url('data:image/svg+xml,<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.70699 7.38912L13.364 1.73212L11.95 0.318116L6.99999 5.26812L2.04999 0.318115L0.635986 1.73212L6.29299 7.38912C6.48051 7.57659 6.73482 7.6819 6.99999 7.6819C7.26515 7.6819 7.51946 7.57659 7.70699 7.38912Z" fill="%231B1B29"/></svg>');
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.langflags {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  padding: 10px 42px 10px 13px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.langflags .lang {
  display: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.langflags .lang a {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(0, 0, 0);
}
.langflags .lang.current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.lang__wrapper.active .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  border: none;
  padding: 13.5px 24px;
  background-color: rgb(165, 242, 222);
  color: rgb(18, 18, 18);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  font-weight: 600;
  border-radius: 300px;
  cursor: pointer;
}

.burger-btn {
  display: none;
}

.main {
  padding-top: 32px;
  padding-bottom: 32px;
  min-height: 70vh;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.link__home {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(27, 27, 27);
}

.separator {
  color: rgb(18, 18, 18);
}

.current__page {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(158, 158, 158);
}

.footer {
  max-width: 100%;
  background-color: rgb(211, 242, 234);
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
}
.footer .container {
  padding-top: 41.5px;
  padding-bottom: 41.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__block img {
  width: 165px;
  height: 66px;
}
.footer__search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer__search-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.5px;
  text-align: center;
}
.footer__search-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__search-inputs input {
  border: none;
}
.footer__search-inputs input[type=email] {
  width: 444px;
  height: 44px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border-width: 1px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(217, 217, 217);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0px;
  padding: 13.36px 14.5px;
  font-size: 16px;
}
.footer__search-inputs input[type=email]::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
}
.footer__search-inputs input[type=email]::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
}
.footer__search-inputs input[type=email]:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
}
.footer__search-inputs input[type=email]::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
}
.footer__search-inputs input[type=email]::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
}
.footer__search-inputs input[type=button] {
  background: rgb(165, 242, 222);
  width: 135px;
  height: 44px;
  padding-top: 10px 20px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
  cursor: pointer;
}
.footer__map-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footer__map-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.5px;
  text-align: center;
  color: rgb(18, 18, 18);
}
.footer__map-arrow {
  background: rgb(165, 242, 222);
  height: 44px;
  width: 44px;
  border-radius: 35px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.thanks__block {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  max-width: 580px;
  width: 100%;
}

.thanks__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.5px;
  text-align: center;
  max-width: 500px;
}

#scrollTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
  padding: 13.5px 10px;
  font-size: 24px;
  border: none;
  border-radius: 19px;
  background-color: rgb(165, 242, 222);
  cursor: pointer;
  display: none; /* скрыта по умолчанию */
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.login-modal {
  background: rgb(255, 255, 255);
  padding: 32px;
  border-radius: 32px;
  -webkit-box-shadow: 0px 0px 23.4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 23.4px 0px rgba(0, 0, 0, 0.2);
  max-width: 680px;
  width: 100%;
  margin: 50px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-top: 1px solid rgb(217, 217, 217);
}

.close-btn,
.close-button {
  position: absolute;
  right: 32px;
  top: 37px;
  background: none;
  border: none;
  cursor: pointer;
}

.signup-text {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  margin-bottom: 24px;
}

.forgot-password,
.signup-text a {
  color: #3366cc;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
}

.forgot-password {
  margin-bottom: 24px;
  margin-top: -16px;
  display: block;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
}

.login-form input {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 24px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 10px;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(179, 179, 179);
}

.login-form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(179, 179, 179);
}

.login-form input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(179, 179, 179);
}

.login-form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(179, 179, 179);
}

.login-form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(179, 179, 179);
}

.login-form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(179, 179, 179);
}

.btn-telegram {
  height: 44px;
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 300px;
  font-weight: bold;
  cursor: pointer;
  background: #d5eae4;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6.5px;
}

.telegram-icon {
  font-size: 16px;
}

.btn__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.btn__block .btn {
  width: 100%;
  height: 44px;
}

.account__wrapper .title {
  margin-bottom: 24px;
}

.account__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.account__sidebar {
  max-width: 379px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.account__user {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.account__tab {
  border-bottom: 1px solid rgb(160, 160, 160);
  padding: 28px 16px;
}

.user__register {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(124, 124, 124);
}

.user__icon {
  width: 125px;
  border-radius: 50%;
}

.account__tab {
  cursor: pointer;
}

.account__tab.current {
  background: rgb(211, 242, 234);
}

.account__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.account__item {
  border: 1px solid rgb(234, 234, 234);
  border-radius: 35px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.account__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.account__item-header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.account__item-header-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.account__item-header-btns .btn__resolved,
.account__item-header-btns .btn__delete {
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: rgb(124, 124, 124);
}
.account__item-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.account__item-data .user__icon {
  width: 66px;
  height: 66px;
}
.account__item-data .data__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.account__item-data .date-message,
.account__item-data .date-post {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(124, 124, 124);
}
.account__item-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.account__item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.account__item-smiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.account__item-smile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.account__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.account__item-views {
  gap: 4px;
}
.account__item-comments {
  gap: 10px;
}
.account__item-views, .account__item-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.acсount__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.acсount__tags .account__tag {
  border-radius: 25px;
  background: rgb(211, 242, 234);
  padding: 8px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(18, 18, 18);
}

.account__post-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(130, 130, 130);
  display: -webkit-box;
  -webkit-line-clamp: 2; /* ограничение на 2 строки */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.account__container .account__hidden {
  display: none;
}

.account__answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.post__answers {
  border-radius: 50px;
  background: rgb(249, 249, 249);
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.post__answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.btn.btn__go {
  margin-left: auto;
}

.account__answers-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.account__answers-tab {
  background: rgb(241, 244, 248);
  border-radius: 25px;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(27, 27, 41);
  cursor: pointer;
}

.account__answers-tab.tab-current {
  background: rgb(211, 242, 234);
}

.account__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

#exitBtn {
  margin-right: auto;
}

.user__image {
  position: relative;
  width: 125px;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.input__img {
  display: none;
}

.account__settings {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.account__settings-data {
  border: 1px solid rgb(217, 217, 217);
  padding: 32px;
  border-radius: 50px;
}
.account__settings .form__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.account__settings .form__settings .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.account__settings .form__settings .input label {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(18, 18, 18);
}
.account__settings .form__settings .input input[type=text],
.account__settings .form__settings .input input[type=tel] {
  border: 1px solid rgb(217, 217, 217);
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(18, 18, 18);
  height: 43px;
  min-width: 240px;
  padding: 12px 16px;
}
.account__settings-sex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.account__settings-sex p {
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(18, 18, 18);
  font-size: 16px;
}
.account__settings-sex__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.account__settings-sex__box .input-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.account__settings-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.account__settings-password p {
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(18, 18, 18);
  font-size: 16px;
}
.account__settings-password .password__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.account__settings-password input[type=password] {
  border: 1px solid rgb(217, 217, 217);
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(18, 18, 18);
  height: 43px;
  min-width: 240px;
  padding: 12px 16px;
}
.account__settings-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.account__settings-buttons .btn {
  background: rgb(227, 227, 227);
}
.account__settings-buttons .btn__delete-account {
  border: none;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
}

.modal__settings {
  background: rgb(255, 255, 255);
  border-radius: 32px;
  max-width: 688px;
  border: 1px solid rgb(217, 217, 217);
  -webkit-box-shadow: 0px 0px 23.4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 23.4px 0px rgba(0, 0, 0, 0.2);
  padding: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.modal__settings .modal__settings-content {
  margin-top: 24px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.modal__settings .account__settings-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.search__page .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 31px;
}
.search__page .search__page-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.search__page .search__page-inputs #search {
  width: 100%;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-left-width: 1px;
  border-style: solid;
  border-color: rgb(158, 158, 158);
  background: rgb(255, 255, 255);
  height: 64px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  padding: 23px 35px;
}
.search__page .search__page-inputs #search::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(40, 43, 71, 0.5);
}
.search__page .search__page-inputs #search::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(40, 43, 71, 0.5);
}
.search__page .search__page-inputs #search:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(40, 43, 71, 0.5);
}
.search__page .search__page-inputs #search::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(40, 43, 71, 0.5);
}
.search__page .search__page-inputs #search::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(40, 43, 71, 0.5);
}
.search__page .search__page-inputs #searchBtn {
  cursor: pointer;
  border: none;
  height: 64px;
  background: rgb(165, 242, 222);
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  padding: 24.5px 42.5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: rgb(18, 18, 18);
}

.error__page {
  padding-top: 176px;
  padding-bottom: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 59px;
}
.error__page-content {
  max-width: 50%;
  width: 100%;
}
.error__page-content .title {
  margin-bottom: 10px;
}
.error__page-content .text {
  margin-top: 32px;
  margin-bottom: 32px;
}
.error__page-content .btn__list {
  -webkit-margin-start: 30px;
          margin-inline-start: 30px;
  margin-bottom: 32px;
}
.error__page-content .btn__item {
  text-decoration: underline;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.5px;
}
.error__page-image {
  max-width: 45%;
  width: 100%;
}
.error__page-image img {
  width: 100%;
}

@media (max-width: 768px) {
  .subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
  }
  .title-h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.5px;
  }
  .title-h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .social__block,
  .lang__wrapper,
  .login__block {
    display: none;
  }
  .header {
    background-color: #d6f4ee;
    padding: 10px 16px;
  }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background-color: white;
    margin-top: 10px;
    padding: 12px 16px;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }
  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
  }
  .burger-btn {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px;
  }
  .burger-icon {
    width: 20px;
    height: 2px;
    background-color: black;
    position: relative;
  }
  .burger-icon::before,
  .burger-icon::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: black;
    left: 0;
  }
  .burger-icon::before {
    top: -6px;
  }
  .burger-icon::after {
    top: 6px;
  }
  .burger-btn.active .burger-icon {
    background-color: transparent;
  }
  .burger-btn.active .burger-icon::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
  }
  .burger-btn.active .burger-icon::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
  }
  .menu {
    position: absolute;
    left: 0;
    top: -10px;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .container {
    padding: 0;
  }
  .submenu {
    position: relative;
    width: 100%;
  }
  .header__search {
    padding: 10px;
  }
  .footer {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .footer__search {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .footer__search-inputs input[type=email] {
    width: 100%;
  }
  .footer__map {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__block {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__block img {
    width: 100px;
    height: 38px;
  }
  .login-modal {
    padding: 24px 16px;
  }
  .close-btn {
    top: 29px;
    right: 16px;
  }
}